<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<style>
    .descriptionarea {
        max-width: 730px;
        height: 550px;
        text-align: center;
        margin: auto;
    }

    textarea {
        padding: 5px;
        resize: none;
    }

    .buttonfortextarea {
        text-align: right;
    }
</style>
<html>
<body>

<div class="descriptionarea">
    <h1>faulty.</h1>
    <textarea rows="20" cols="100" placeholder="What is your fault?">
</textarea>
    <br/>
    <div class="buttonfortextarea">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>

</div>

</body>
</html>