{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}

        <div class="fullentry">
            <div class="fullentry-header">
                <h1>{{ entry.title }}</h1>
                <p>by: {{ entry.author }} | on: {{ entry.date }}, {{ entry.time }}</p>
            </div>
            <div class="fullentry-text">
                <p>{{ entry.text|safe }}</p>
            </div>
            <div class="fullentry-comment-section">
                <h3>Comments</h3>
                <textarea id="fullentry-newcomment"
                          class="fullentry-newcomment"></textarea>
                <div class="fullentry-submitcomment">
                    <button id="fullentry-submitcomment-btn"
                            name="fullentry-submitcomment-btn"
                            class="fullentry-submitcomment-btn btn btn-primary"
                            type="submit"
                            disabled="disabled">
                        Submit
                    </button>
                </div>
                {% if entry.all_comments %}
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="fullentry-comment-sort"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            Sort by
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="fullentry-comment-sort">
                            <li><a id="sort_newest" href="javascript:void(0)">Newest</a></li>
                            <li><a id="sort_latest" href="javascript:void(0)">Latest</a></li>
                        </ul>
                    </div>
                {% endif %}
                {% for comment in entry.all_comments %}
                    <div id="_{{ comment.id }}" class="fullentry-comment panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="fullentry-comment-toggle"
                                   data-toggle="collapse"
                                   href="#{{ comment.id }}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a> {{ comment.commenter }} [{{ comment.date }}, {{ comment.time }}]
                                {% if  session.username == comment.commenter %}
                                    [<a id="edit_{{ comment.id }}" class="edit_comment"
                                        href="javascript:void(0)">Edit</a>]
                                    [<a id="del_{{ comment.id }}" class="del_comment"
                                        href="javascript:void(0)">Delete</a>]
                                {% endif %}
                            </h3>
                        </div>
                        <div id="{{ comment.id }}"
                             class="panel-collapse collapse in">
                            <div class="panel-body">
                                {{ comment.comment|safe }}
                            </div>
                        </div>
                    </div>
                    <div id="editcomment_{{ comment.id }}"
                         class="fullentry-editcomment">
                        <textarea id="editcommentarea_{{ comment.id }}"
                                  class="fullentry-newcomment">{{ comment.comment|safe }}</textarea>
                        <div class="fullentry-submitcomment">
                            <button id="submiteditcomment_{{ comment.id }}"
                                    class="fullentry-submitcomment-btn btn btn-primary"
                                    type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                {% endfor %}
                {% if entry.has_more_comments %}
                    <ul id="pager-more" class="pager">
                        <li><a id="more" href="javascript:void(0);">More</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>

    {% else %}

        <div class="jumbotron">
            <p><a class="btn btn-lg btn-success" href="{{ url_for('login') }}" role="button"><span
                    class="glyphicon glyphicon-log-in"></span> Login</a></p>
        </div>

    {% endif %}

    <script>

        var SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        var current_user = {{ session.username | tojson | safe }};

        function create_comment_div(comment) {
            var comment_div = `
                        <div id="_` + comment.id + `"
                             class="fullentry-comment panel panel-default">
                             <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="fullentry-comment-toggle"
                                       data-toggle="collapse"
                                       href="#` + comment.id + `">
                                        <span class="glyphicon glyphicon-plus"
                                        style="display:none;"></span>
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </a> ` + comment.commenter + ` [` + comment.date + `, ` + comment.time + `]`;

            if (current_user == comment.commenter) {
                comment_div = comment_div.concat(` [<a href="#">Edit</a>] [<a href="#">Delete</a>]`);
            }

            comment_div = comment_div.concat(`</h3>
                            </div>
                            <div id="` + comment.id + `"
                                 class="panel-collapse collapse in">
                                 <div class="panel-body">
                                    ` + comment.comment + `
                                 </div>
                            </div>
                        </div>
                                `);
            return comment_div;
        }

        $(function () {

            /*$("#sort_newest").click(function () {
                $.getJSON(SCRIPT_ROOT + '/sort_comments', {
                    entry_id: {{ entry.id | tojson | safe }},
                    sort_by: 'asc'
                }, function (data) {
                    $("#pager-more").remove();
                    $(".fullentry-comment").remove();

                    var sorted_comments = data.comments;
                    for (var i = 0; i < sorted_comments.length; ++i) {

                        var comment_div = create_comment_div(sorted_comments[i]);

                        $(".fullentry-comment-section").append($(comment_div).hide().fadeIn());
                    }
                    if (data.has_more_comments) {
                        var more = `
                                    <ul id="pager-more" class="pager">
                                        <li><a id="more" href="javascript:void(0);">More</a></li>
                                    </ul>`;
                        $(".fullentry-comment-section").append($(more).hide().fadeIn());
                    }
                });
            });*/

            /*$("#sort_latest").click(function () {
                $.getJSON(SCRIPT_ROOT + '/sort_comments', {
                    entry_id: {{ entry.id | tojson | safe }},
                    sort_by: 'desc'
                }, function (data) {
                    $("#pager-more").remove();
                    $(".fullentry-comment").remove();

                    var sorted_comments = data.comments;
                    for (var i = 0; i < sorted_comments.length; ++i) {

                        var comment_div = create_comment_div(sorted_comments[i]);

                        $(".fullentry-comment-section").append($(comment_div).hide().fadeIn());
                    }
                    if (data.has_more_comments) {
                        var more = `
                                    <ul id="pager-more" class="pager">
                                        <li><a id="more" href="javascript:void(0);">More</a></li>
                                    </ul>`;
                        $(".fullentry-comment-section").append($(more).hide().fadeIn());
                    }
                });
            });*/

            $("#fullentry-submitcomment-btn").bind('click', function () {
                var new_comment = $("#fullentry-newcomment").val().replace(/\r?\n/g, '<br />');
                if (!new_comment.trim()) {
                    return false;
                }
                $.getJSON(SCRIPT_ROOT + '/submit_comment', {
                            entry_id: {{ entry.id | tojson | safe }},
                            new_comment: new_comment,
                            commenter: {{ session.username | tojson | safe }}
                        },
                        function (data) {
                            $("#pager-more").remove();

                            if (data.has_more_comments) {
                                var more = `
                                <ul id="pager-more" class="pager">
                                    <li><a id="more" href="javascript:void(0);">More</a></li>
                                </ul>
                               `;
                                $(".fullentry-comment-section").append($(more).hide().fadeIn());
                            } else {
                                var latest_comment = data.latest_comment;

                                var sort_dropdown = `
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="fullentry-comment-sort"
                                                data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="true">
                                            Sort by
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="fullentry-comment-sort">
                                            <li><a id="sort_newest" href="javascript:void(0)">Newest</a></li>
                                            <li><a id="sort_latest" href="javascript:void(0)">Latest</a></li>
                                        </ul>
                                    </div>`;

                                var new_comment_div = create_comment_div(latest_comment);

                                $(".fullentry-comment-section").append($(sort_dropdown).hide().fadeIn());
                                $(".fullentry-comment-section").append($(new_comment_div).hide().fadeIn());
                            }

                            //$( "#"+comment.id+"-plus" ).hide();

                            //$( ".fullentry-comment-section" ).append("<p>BOO</p>");
                            //console.log(comment.id);

                            /*console.log(data.all_comments);
                             var all_comments = data.all_comments;
                             for (var i = 0; i < all_comments.length; ++i) {
                             console.log(all_comments[i]['comment']);
                             }*/
                        }
                );
                $("#fullentry-newcomment").val('');
            });

            $(".fullentry-comment-section").on('click', '#more', function (e) {
                //console.log(e);
                e.preventDefault();
                $.getJSON(SCRIPT_ROOT + '/load_more_comments', {
                            entry_id: {{ entry.id | tojson | safe }}
                        },
                        function (more_comments) {
                            $("#pager-more").remove();

                            var comments = more_comments.comments;
                            for (var i = 0; i < comments.length; ++i) {
                                var comment_div = create_comment_div(comments[i]);

                                $(".fullentry-comment-section").append($(comment_div).hide().fadeIn());
                            }

                            if (more_comments.has_more_comments) {
                                var more = `
                                <ul id="pager-more" class="pager">
                                    <li><a id="more" href="javascript:void(0);">More</a></li>
                                </ul>
                               `;
                                $(".fullentry-comment-section").append($(more).hide().fadeIn());
                            }
                        }
                )
                ;
            });
        });

        $(document).ready(function () {
            $(".glyphicon-plus").hide();

            $("#fullentry-newcomment").keyup(function () {
                var empty = false;

                if ($("#fullentry-newcomment").val().length == 0) {
                    empty = true;
                }

                if (empty) {
                    $("#fullentry-submitcomment-btn").attr('disabled', 'disabled');
                } else {
                    $("#fullentry-submitcomment-btn").removeAttr('disabled');
                }
            });

            $(".fullentry-comment-section").on('click', '.fullentry-comment-toggle', function () {
                $(this).find(".glyphicon-minus").toggle();
                $(this).find(".glyphicon-plus").toggle();
            });

            $(".fullentry-comment-section").on('click', '#sort_newest', function () {
                $.getJSON(SCRIPT_ROOT + '/sort_comments', {
                    entry_id: {{ entry.id | tojson | safe }},
                    sort_by: 'asc'
                }, function (data) {
                    $("#pager-more").remove();
                    $(".fullentry-comment").remove();

                    var sorted_comments = data.comments;
                    for (var i = 0; i < sorted_comments.length; ++i) {

                        var comment_div = create_comment_div(sorted_comments[i]);

                        $(".fullentry-comment-section").append($(comment_div).hide().fadeIn());
                    }
                    if (data.has_more_comments) {
                        var more = `
                                    <ul id="pager-more" class="pager">
                                        <li><a id="more" href="javascript:void(0);">More</a></li>
                                    </ul>`;
                        $(".fullentry-comment-section").append($(more).hide().fadeIn());
                    }
                });
            });

            $(".fullentry-comment-section").on('click', '#sort_latest', function () {
                $.getJSON(SCRIPT_ROOT + '/sort_comments', {
                    entry_id: {{ entry.id | tojson | safe }},
                    sort_by: 'desc'
                }, function (data) {
                    $("#pager-more").remove();
                    $(".fullentry-comment").remove();

                    var sorted_comments = data.comments;
                    for (var i = 0; i < sorted_comments.length; ++i) {

                        var comment_div = create_comment_div(sorted_comments[i]);

                        $(".fullentry-comment-section").append($(comment_div).hide().fadeIn());
                    }
                    if (data.has_more_comments) {
                        var more = `
                                    <ul id="pager-more" class="pager">
                                        <li><a id="more" href="javascript:void(0);">More</a></li>
                                    </ul>`;
                        $(".fullentry-comment-section").append($(more).hide().fadeIn());
                    }
                });
            });

            $(".fullentry-comment-section").on('click', '.edit_comment', function () {
                var comment_id = $(this).attr('id').split("_");
                console.log(comment_id[1]);
                //$("#_" + comment_id[1]).remove();
                $("#_" + comment_id[1]).hide();
                $("#editcomment_" + comment_id[1]).show();

                $("#editcommentarea_" + comment_id[1]).keyup(function () {
                    var empty = false;
                    if ($("#editcommentarea_" + comment_id[1]).val().length == 0) {
                        empty = true;
                    }
                    //console.log(empty);
                    if (empty) {
                        $("#submiteditcomment_" + comment_id[1]).attr('disabled', 'disabled');
                    } else {
                        $("#submiteditcomment_" + comment_id[1]).removeAttr('disabled');
                    }
                });

                $("submiteditcomment_" + {{ comment.id }}).bind('click', function (){

                });
            });

            /*$("#fullentry-newcomment").keyup(function () {
                var empty = false;

                if ($("#fullentry-newcomment").val().length == 0) {
                    empty = true;
                }

                if (empty) {
                    $("#fullentry-submitcomment-btn").attr('disabled', 'disabled');
                } else {
                    $("#fullentry-submitcomment-btn").removeAttr('disabled');
                }
            });*/
            //submiteditcomment_
            //editcommentarea_
        });

    </script>

{% endblock %}