{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

{% for entry in entries %}
<div id="blogentries" class="blogentries">
    <div class="entry-header">
        <h2>{{ entry.title }}</h2>
        <p>by: {{ entry.author }} | on: {{ entry.date }} {{ entry.time }}</p>
    </div>
    <div id="{{ entry.id }}" class="entry-entry">
        <p>{{ entry.text|safe }}</p>
    </div>
    <!--<p>{{ entry.text|safe }}</p>-->
    <a id="edit" href="javascript:void(0);">Edit</a>
    <a id="delete" href="javascript:void(0);">Delete</a>
    <button id="submit-edit" class="btn btn-primary" type="submit">Submit</button>
    <button id="cancel-edit" class="btn btn-default" type="submit">Cancel</button>
</div>
{% endfor %}

{% if entries|length == 0 %}
<div class="showentries-alert alert alert-info"
     role="alert">
    <strong>Oops!</strong> You have no posts at the moment. Why not <strong><a
        href="{{ url_for('add_entry') }}">create</a></strong> some?
</div>
{% else %}
<nav>
    <ul class="pager">
        {% if has_prev_pages %}
        <li><a href="{{ url_for('show_entries', navigate='prev') }}">Previous</a></li>
        {% endif %}
        {% if has_more_pages %}
        <li><a href="{{ url_for('show_entries', navigate='next') }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% else %}
<div class="jumbotron">
    <!--<h1>Hello!</h1>
      Go on. Discuss. Talk. Reveal. This is MIN_BLOG. No fancy stuff. Just words. Your words.
      Whatever that is on your mind. Blog away.
    <p class="lead"></p>
    -->
    <p><a class="btn btn-lg btn-success" href="{{ url_for('login') }}" role="button"><span
            class="glyphicon glyphicon-log-in"></span> Login</a></p>
</div>
{% endif %}

<script>
    var entries_under_edit = {};
    var nicEditors = {};

    $( "div.blogentries" )
      .mouseenter(function() {
        var blogentries_id = $( this ).attr('id');
        var entry_id = $( this ).find(".entry-entry").attr('id');
        var blog_and_entry_id = blogentries_id+'_'+entry_id;
        console.log(''+blog_and_entry_id);
        if (!(blog_and_entry_id in entries_under_edit)) {
            $( this ).find( "#edit" ).show();
            $( this ).find( "#delete" ).show();
        }
      })
      .mouseleave(function() {
        var blogentries_id = $( this ).attr('id');
        var entry_id = $( this ).find(".entry-entry").attr('id');
        var blog_and_entry_id = blogentries_id+'_'+entry_id;
        if (!(blog_and_entry_id in entries_under_edit)) {
            $( this ).find( "#edit" ).hide();
            $( this ).find( "#delete" ).hide();
        }
      });

    $("div.blogentries #edit").click(function() {
        var blogentries_id = $( this ).closest( ".blogentries" ).attr('id');
        console.log(''+blogentries_id);
        var entry_id = $( this ).closest( ".blogentries" ).find(".entry-entry").attr('id');
        console.log(''+entry_id);
        var submit_btn = $( this ).closest( ".blogentries" ).find("#submit-edit");
        var cancel_btn = $( this ).closest( ".blogentries" ).find("#cancel-edit");
        var delete_btn = $( this ).closest( ".blogentries" ).find("#delete");
        $( this ).hide();
        $( delete_btn ).hide();
        $( submit_btn ).show();
        $( cancel_btn ).show();
        $("#"+entry_id).css({'width':'100%',
                             'height': '350px',
                             'max-height': '350px'});
        nicEditors[entry_id] = new nicEditor({ maxHeight : 359,
                                buttonList : [
                                'fontSize',
                                'fontFamily',
                                'fontFormat',
                                'bold',
                                'italic',
                                'underline',
                                'strikeThrough',
                                'left',
                                'center',
                                'right',
                                'justify',
                                'ol',
                                'ul',
                                'forecolor',
                                'indent',
                                'outdent',
                                'hr',
                                'link']
                                }).panelInstance(
                                entry_id, {hasPanel : true}
                                );
        entries_under_edit[blogentries_id+'_'+entry_id] = 1;
    });

    $("div.blogentries #cancel-edit").click(function() {
        var blogentries_id = $( this ).closest( ".blogentries" ).attr('id');
        var entry_id = $( this ).closest( ".blogentries" ).find(".entry-entry").attr('id');
        var submit_btn = $( this ).closest( ".blogentries" ).find("#submit-edit");
        var edit_btn = $( this ).closest( ".blogentries" ).find("#edit");
        var delete_btn = $( this ).closest( ".blogentries" ).find("#delete");
        $( this ).hide();
        $( submit_btn ).hide();
        $( delete_btn ).show();
        $( edit_btn ).show();
        $("#"+entry_id).css({'width':'',
                             'height': '',
                             'max-height': ''});
        nicEditors[entry_id].removeInstance(entry_id);
        delete nicEditors[entry_id];
        delete entries_under_edit[blogentries_id+'_'+entry_id];
    });
</script>

{% endblock %}