{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<!--<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
    </dl>
</form>-->

<!--<ul class=entries>
    {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
        {% else %}
    <li><em>Unbelievable. No entries here so far</em>
        {% endfor %}
</ul>-->
{% for entry in entries %}
    <div class="blogentries">
        <div class="entry-header">
            <h2>{{ entry.title }}</h2>
            <p>by: {{ entry.author }} | on: {{ entry.date }} {{ entry.time }}</p>
        </div>
        <p>{{ entry.text|safe }}</p>
    </div>
{% endfor %}

{% if entries|length == 0 %}
<div class="showentries-alert alert alert-info"
     role="alert">
    <strong>Oops!</strong> You have no posts at the moment. Why not <strong><a href="{{ url_for('add_entry') }}">create</a></strong> some?
</div>
{% endif %}

{% if has_more_pages %}
<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="{{ url_for('show_entries', navigate='next') }}">Next</a></li>
  </ul>
</nav>
{% endif %}

{% else %}
<div class="jumbotron">
    <!--<h1>Hello!</h1>
      Go on. Discuss. Talk. Reveal. This is MIN_BLOG. No fancy stuff. Just words. Your words.
      Whatever that is on your mind. Blog away.
    <p class="lead"></p>
    -->
    <p><a class="btn btn-lg btn-success" href="{{ url_for('login') }}" role="button"><span
            class="glyphicon glyphicon-log-in"></span> Login</a></p>
</div>
{% endif %}
{% endblock %}