.fullentry {
    max-width: 600px;
    margin: 0 auto;
}

.fullentry .fullentry-header {
    margin-bottom: 12px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Roboto', sans-serif;
}

.fullentry .fullentry-text {
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
}

.fullentry .fullentry-newcomment {
    width: 100%;
    height: 150px;
    max-height: 150px;
    margin-top: 10px;
    resize: none;
}

.fullentry .fullentry-submitcomment {
    overflow: hidden;
}

.fullentry .fullentry-submitcomment-btn {
    float: right;
}

.fullentry .fullentry-comment {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*.fullentry-comment a {
    text-decoration: none;
}*/
.fullentry-comment .fullentry-comment-toggle {
    text-decoration: none;
}

/*.full-entry .fullentry-dropdown {
    display: block;
}*/

.fullentry .dropdown .dropdown-toggle {
    border: none;
    outline: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.fullentry .dropdown .dropdown-toggle:hover {
    background: #FFF !important;
    color: #000 !important;
}

.fullentry .dropdown .dropdown-toggle:active {
    background: #FFF !important;
    color: #000 !important;
}

.fullentry .dropdown .dropdown-toggle:focus {
    background: #FFF !important;
    color: #000 !important;
}

.fullentry .fullentry-editcomment {
    display: none;
}