.form-horizontal {
  max-width:430px;
  /*padding: 15px;*/
  margin: 0 auto;
}

.form-register-heading {
  margin-bottom: 20px;
}

.form-horizontal .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-register-alert {
    margin-top: 10px;
}